{% extends '::base.html.twig' %}

{% block body %}
    <h1>Choisissez un adverssaire</h1>
    <table>
        <tr>
            <th>Pseudo</th>
            <th></th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user }}</td>
                <td>
                    <a>jouer</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}